body {
    background-color: cyan;
}

.score {
    font-size: large;
    margin-left: 50px;
}

.timer {
    font-size: large;
    float: right;
    margin-right: 50px;
}

.sketch_drawn {
    color: pink;
}